name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'

      - name: Install dependencies
        run: flutter pub get

      - name: Run Analyzer
        run: flutter analyze --no-fatal-warnings || true

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run integration tests on Android Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          target: google_apis
          arch: x86
          profile: Nexus 5
          disable-animations: true
          ram-size: 2048M
          disk-size: 4G
          wait-for-boot: 300
          emulator-options: "-no-window -no-audio -no-boot-anim -gpu swiftshader_indirect"
          emulator-boot-timeout: 300
          script: |
            flutter devices
            flutter test test/auth_service_test.dart

